table {
	width: 100%;
	margin: 0 auto;
	}
table td {
	font-size: 16px; padding: 5px; vertical-align: middle; 
	}
table td img.locked {
	margin-left: -22px; 
	}
table td small {
	display: block; color: #CFC98E; padding-left: 30px; 
	}
table tr {
	width: 70%; color:#857661; 
	}
table thead tr td {
	font-size: 12px; padding: 0px;
	}
table thead tr td a {
	font-size: 12px; display: block; padding: 5px;
	}
table td.size, table td.mtime {
	white-space: nowrap; width: 12%; font-size: 14px; 
	}
table td.mtime {
	width: 18%; 
	}
div.total {
	background: #f8f8f8; padding: 2px; 
	}
breadcrumbwrap {
	background: #083844; padding: 10px 10px 5px; border-bottom: 5px solid #D6C47C; 
	}
breadcrumb {
	width: 700px; margin: 0px auto; color: #FFF3CF; 
	}
breadcrumb a {
	font-size:inherit; color: #DFD999; 
	}
#breadcrumb a:hover {
	color: #CFC98E; 
	}
#breadcrumb ul {
	list-style-type: none; 
	}
#breadcrumb ul li {
	float: left; margin-right: 5px; font-size: 15px; 
	}
#breadcrumb ul a {
	font-size: inherit; 
	}
dirwrap {
	margin: 20px auto; padding: 0; width: 700px; box-shadow: 0px 0px 10px #999;
	}
#nothing {
	background: #ffffff; color:#857661; font-size: 16px; padding: 10px; 
	}
#footer {
	margin: 20px auto; width: 700px; color: #857661; font-size:12px; margin-top:10px; padding-left: 10px; 
	}
#footer small a {
	font-size: inherit; 
	}
#search {
	width: 100px; border: 0px none; border-bottom: solid 1px #999; color: #999; padding: 2px; height: 14px; font-size:12px; background: transparent; 
	}
.asc, .desc {
	padding-left:15px; background-repeat: no-repeat;
}
.asc {
	background-image: url('../../icons/default/asc.gif'); background-position: 3px 10px;
}
.desc {
	background-image: url('../../icons/default/desc.gif'); background-position: 3px 8px;
}